<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :event_id %>
  <%= f.hidden_field :bet_date %>
  <div class="field">
    <%= f.label "Answer: " %>
    <%= f.collection_select :answer_id, Answer.where(event_id: @bet.event_id).order(:name), :id, :name, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
