<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bet.user_name %>
</p>

<p>
  <b>Tournament:</b>
  <%= @bet.tournament_name %>
</p>

<p>
  <b>Event:</b>
  <%= @bet.event_name %>
</p>

<p>
  <b>Bet date:</b>
  <%= @bet.bet_date %>
</p>


<%= link_to 'Back to bets', bets_path %>
