<h1>Listing tournaments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <% if can? :update, Tournament %>
    <th></th>
    <% end %>
    <% if can? :delete, Tournament %>
    <th></th>
    <% end %>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= link_to tournament.name, tournament %></td>
    <td><%= tournament.description %></td>
    <td><%= tournament.category_name %></td>
    <% if can? :update, Tournament %>
      <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <% end %>
    <% if can? :delete, Tournament %>
      <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Tournament %>
<%= link_to 'New Tournament', new_tournament_path %>
<% end %>
