<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Tournament</th>
    <% if can? :create, Bet %>
      <th>Answered</th>
    <% end %>
    <th>Blocked</th>
    <% if can? :update, Event %>
    <th></th>
    <% end %>
    <% if can? :delete, Event %>
    <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%= event.description %></td>
    <td><%= link_to event.tournament_name, event.tournament %></td>
    <% if can? :create, Bet %>
      <td><%= current_user.answered? event.id %></td>
    <% end %>
    <td><%= event.blocked %></td>
    <% if can? :update, Event %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
    <% if can? :delete, Event %>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
