<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<% if @event.description != '' %>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<% end %>

<p>
  <b>Tournament:</b>
  <%= @event.tournament_name %>
</p>

<% if can? :update, Event %>
<%= link_to 'Edit event', edit_event_path(@event) %>
<% end %>

<% if can? :read, Answer %>
  <hr>
  <h3>Answers</h3>
  <% @event.answers.each do |answer| %>
    <div>
      <strong><%= answer.name %></strong>
    </div>
  <% end %>
<% end %>

<% if current_user.answered? @event.id %>
<hr>
<p><b>Your answer: </b><i><%= current_user.answer(@event.id) %></i></p>
<% elsif can? :create, Bet and !@event.blocked %>
<% @bet = @event.bets.build %>
<%= render 'bets/form' %>
<% end %>
<% if @event.correct_answer != nil %>
<p><b>Correct answer: </b><i><%= @event.correct_answer_name %></i></p>
<% elsif @event.blocked == true %>
<p><font color="red">Event blocked.</font></p>
<% end %>

<% if can? :create, Answer and @event.blocked? and !@event.has_correct_answer? %>
<hr>
<h3>Add answer</h3>
<%= render 'answers/form' %>
<% end %>

<% if can? :update, Event %>
<hr>
<%= render 'block' %>
<% end %>
