<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @answer.name %>
</p>

<p>
  <b>Event:</b>
  <%= @answer.event_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
